@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<div>
  <h2>Delete recipe Profile</h2>

  <p>Are you sure you want to delete this recipe?<p>
  @Html.DisplayFor(model => model.Name)
  
  @using(Html.BeginForm())
  {
    <input type="submit" value="Delete recipe" />
  }

  @Html.ActionLink("No, back to recipe", "Details", new { id = @Model.RecipeId })
</div>