<div class="footer-section">
  @Html.ActionLink("Home page", "Index", "Home")
  @Html.ActionLink("Manage engineers", "Index", "Engineers")
  @Html.ActionLink("Manage machines", "Index", "Machines")
</div>