<div class="header-section">
  <div>
    <h2>Mosain's Recipe Box - Manager Panel</h2>
  </div>

  <div class="btm-bar">
    <p>Welcome:</p>
    @if (User.Identity.IsAuthenticated)
    {
      @User.Identity.Name
        
    }
  </div>
</div>