.header-section {
  background-color: blueviolet;
}

.footer-section {
  position: absolute;
    bottom: 50px;
    width: 100%;
    color: #f9fafb;
}

.index-div {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}

.pr-33{
  width: 33%;
}