@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Author;

<div>
  <h2>Edit Author information:</h2>

  @using(Html.BeginForm())
  {
    @Html.HiddenFor(model => model.AuthorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save changes" />
  }


</div>